<?xml version="1.0"?>
<phpunit backupGlobals="false" bootstrap="bootstrap.php" colors="true" cacheDirectory=".phpunit.cache" backupStaticProperties="false" failOnDeprecation="true" displayDetailsOnTestsThatTriggerDeprecations="true">
  <php>
    <ini name="error_reporting" value="-1"/>
  </php>
  <extensions>
    <bootstrap class="Symfony\Bridge\PhpUnit\SymfonyExtension"/>
  </extensions>
  <testsuites>
    <testsuite name="default">
      <directory>tests</directory>
    </testsuite>
  </testsuites>
  <source baseline="phpunit.baseline.xml" ignoreIndirectDeprecations="false" ignoreSuppressionOfDeprecations="true">
    <include>
      <directory>src/lib</directory>
      <directory>src/bundle</directory>
      <directory>src/contracts</directory>
    </include>
  </source>
</phpunit>
