parameters:
    ezplatform.http_cache.controller.invalidatetoken.class: Ibexa\Bundle\HttpCache\Controller\InvalidateTokenController
    ezplatform.http_cache.listener.vary_header.class: Ibexa\HttpCache\EventListener\ConditionallyRemoveVaryHeaderListener
    ezplatform.http_cache.proxy_client.http_dispatcher.class: FOS\HttpCache\ProxyClient\HttpDispatcher
    # Set in \Ibexa\Bundle\HttpCache\DependencyInjection\Compiler\VarnishCachePass
    # equal to settings under fos_http_cache.proxy_client.varnish.http.servers|base_url
    ezplatform.http_cache.varnish.http.servers: []
    ezplatform.http_cache.varnish.http.base_url: ~
    # Optional settings to set a max length parameter (in bytes, eg 7900) and corresponding ttl (in seconds, eg 3600)
    # Set  ttl to a low number as removing tags involves risk of stale responses (as it won't be purged on the tags removed)
    # NOTE: System will log warning when this happens so you can fix the given response to avoid the issue.
    ezplatform.http_cache.tags.header_max_length: null
    ezplatform.http_cache.tags.header_reduced_ttl: null

services:
    Ibexa\HttpCache\ProxyClient\HttpDispatcherFactory:
        arguments:
            - '@ibexa.config.resolver'
            - '@Ibexa\Bundle\Core\DependencyInjection\Configuration\SiteAccessAware\DynamicSettingParser'
            - '%ezplatform.http_cache.proxy_client.http_dispatcher.class%'

    ibexa.http_cache.proxy_client.varnish.http_dispatcher:
        class: '%ezplatform.http_cache.proxy_client.http_dispatcher.class%'
        decorates: fos_http_cache.proxy_client.varnish.http_dispatcher
        lazy: true
        factory: ['@Ibexa\HttpCache\ProxyClient\HttpDispatcherFactory', 'buildHttpDispatcher']
        arguments:
            $servers: '%ezplatform.http_cache.varnish.http.servers%'
            $baseUrl: '%ezplatform.http_cache.varnish.http.base_url%'

    ibexa.http_cache.purge_client:
        alias: Ibexa\HttpCache\PurgeClient\RepositoryPrefixDecorator

    Ibexa\HttpCache\PurgeClient\RepositoryPrefixDecorator:
        class: Ibexa\HttpCache\PurgeClient\RepositoryPrefixDecorator
        arguments: ['@ibexa.http_cache.purge_client_internal', '@Ibexa\HttpCache\RepositoryTagPrefix']

    ibexa.http_cache.purge_client_internal:
        alias: Ibexa\HttpCache\PurgeClient\LocalPurgeClient

    Ibexa\HttpCache\PurgeClient\VarnishPurgeClient:
        class: Ibexa\HttpCache\PurgeClient\VarnishPurgeClient
        arguments:
            - '@fos_http_cache.cache_manager'
        tags:
            - {name: ezplatform.http_cache.purge_client, purge_type: varnish}

    Ibexa\HttpCache\PurgeClient\LocalPurgeClient:
        class: Ibexa\HttpCache\PurgeClient\LocalPurgeClient
        arguments: ['@Toflar\Psr6HttpCacheStore\Psr6Store']
        tags:
            - {name: ezplatform.http_cache.purge_client, purge_type: local}

    Toflar\Psr6HttpCacheStore\Psr6Store:
        class: Toflar\Psr6HttpCacheStore\Psr6Store
        arguments:
            - cache_directory: '%ezplatform.http_cache.store.root%'

    Ibexa\HttpCache\Handler\TagHandler:
        class: Ibexa\HttpCache\Handler\TagHandler
        arguments:
         - '@Ibexa\HttpCache\RepositoryTagPrefix'
         - '@logger'
         - header_formatter: '@fos_http_cache.tag_handler.header_formatter'
           strict: '%fos_http_cache.tag_handler.strict%'
           # Custom eZ options (todo: Port to FOS)
           tag_max_length: '%ezplatform.http_cache.tags.header_max_length%'
           tag_max_length_ttl: '%ezplatform.http_cache.tags.header_reduced_ttl%'

    Ibexa\HttpCache\ContextProvider\RoleIdentify:
        class: Ibexa\HttpCache\ContextProvider\RoleIdentify
        arguments:
            - '@ibexa.api.repository'
            - '@Ibexa\Contracts\Core\Repository\PermissionResolver'
            - '@ibexa.api.service.user'
        tags:
            - { name: fos_http_cache.user_context_provider }

    Ibexa\Bundle\HttpCache\Controller\InvalidateTokenController:
        class: "%ezplatform.http_cache.controller.invalidatetoken.class%"
        arguments:
         - '@ibexa.config.resolver'
         - "%ezplatform.http_cache.invalidate_token.ttl%"
         - "@fos_http_cache.http.symfony_response_tagger"
        tags:
            - controller.service_arguments

    Ibexa\HttpCache\EventListener\ConditionallyRemoveVaryHeaderListener:
        class: "%ezplatform.http_cache.listener.vary_header.class%"
        arguments:
         - "%ezplatform.http_cache.no_vary.routes%"
        tags:
            - { name: kernel.event_subscriber, priority: -100 }

    Ibexa\HttpCache\RepositoryTagPrefix:
        class: Ibexa\HttpCache\RepositoryTagPrefix
        # Use config resolver to be able to lazy load reading SA setting "repository" to avoid scope change issues
        arguments: ['@ibexa.config.resolver', '%ezpublish.repositories%']

    fos_http_cache.proxy_client.varnish:
        class: Ibexa\HttpCache\ProxyClient\Varnish
        arguments:
            $configResolver: '@ibexa.config.resolver'
            $httpDispatcher: '@fos_http_cache.proxy_client.varnish.http_dispatcher'
            $options: '%fos_http_cache.proxy_client.varnish.options%'
